.grid{
    width: 560px;
    height: 560px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: white;

}

.grid div{
    width: 20px;
    height: 20px;
}

.pac-dot{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall{
    background-color: black;
}

.power-pellet{
    background-color: green;
    border-radius: 10px;
}

.blinky{
    background-color: red;
}

.pinky{
    background-color: pink;
}

.inky{
    background-color: cyan;
}

.clyde{
    background-color: orange;
}

.pac-man{
    background: url('/assets/pacman.png') ;
    background-size: contain;
    border-radius: 10px; 
}

p{
    font-size: 20px;
    color: #fff;
    word-spacing: 5px;
    padding: 10px;
    text-align: justify;
}

button{
    font-family: 'ArcadeClassic',sans-serif;
    padding: 10px;
    font-size: 25px;
    border: 4px solid black;
    border-radius: 8px;
    background-color: darkblue;
    color: #fff;
}

.scared-ghost{
    background-color: aquamarine;
}

.start-screen{
    text-align: center;
    border: 5px solid ;
    padding: 50px;
    background-color: yellow;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4em;
    gap: 2em;
}

body {
    font-family: 'ArcadeClassic', sans-serif;
    background-color: midnightblue;
    margin: 0;
    margin-bottom: auto;
    word-spacing: 5px;
}

main{
    min-height: 50vh;
}

header {
    width: 100%;
    background-color: darkblue;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 8px 5.5%;
    z-index: 10;
    box-shadow: -10px 5px 30px 2px rgb(10, 10, 27);
}

.navbar {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.navbar :hover {
    position: static;
    font-weight: 650;
    color: yellow;
    margin: 0px;
    transition: .3s;
}

.navbar>a {
    font-family: 'ArcadeClassic',sans-serif;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size:50px;
}


.container {
    width: 1380px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.agradecimento {
    width: 25%;
    float: left;
    display: flex;
    display: table-row;
    justify-content: space-evenly;
}

#equipe{
    border: solid;
    border-radius: 10em;
}

#homep{
    border: 0.1em solid black ;
    border-radius: 0.3em;
}

footer .link {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-family: 'ArcadeClassic', sans-serif;
    color: white;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

footer .link:hover {
    position: relative;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}

footer {
    background-color:darkblue;
    width: 100%;
    position: static;
    margin: 0;
    p {
        color:white;
        font-family: 'ArcadeClassic', sans-serif;
        width: 300px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

#cp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    float:center;
 }

 h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.nomeLogo {
    box-sizing: border-box;
    margin: top 10px;
    padding: 0;
    color: #dad733;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    text-decoration: none;
    text-shadow: black 0.2em 0.2em 0.2em;
}

.inicio{
    color: #dad733;
    display: flex;
    align-items: center;
}

#dsc {
    opacity: 0;
    white-space: nowrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#dsc:hover {
    animation: fadeIn 2s forwards;
}

#objetivo{
    padding: 10px;
}

h2{
    color: yellow;
}

#img{
    padding: 10px;
}

.imagens{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.regras{
    padding: 10px;
}

/*Formulário*/

#form-body{
    color: #fff;
    font-family:'ArcadeClassic', sans-serif;
    word-spacing: 5px;
    
}
#activities-container {
    border: 1px solid yellow;
    padding: 0.5rem;
}

.button-container {
    padding: 1rem 0;
}

.input-container {
    padding: 0.5rem 0;
}

.input-container > p {
    font-weight: bold;
    font-size: 1.1rem;
}

button[type=reset] {
    background-color:yellow;
    color: white;
}

button[type=reset]:hover {
    opacity: 75%;
}

input[type=checkbox]:checked ~ label, input[type=radio]:checked ~ label {
    font-weight: bolder;
}

input {
    background-color: yellow;
    
    border-radius: 4px;
    border: 2px solid #f5e61a;
}

input:focus {
    border: 4px solid #fadb2d;
}

#success-container {
    min-height: 50vh;
    position: relative;

}

#success-container > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;

    text-align: center;
    
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
    #success-container > h2 {
        width: 60%;
    }    
  }

  .form-container {
    margin: auto;
    box-sizing: border-box;
    background-color: midnightblue;
    padding: 50px;
    color:white;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    legend {
        color:yellow;
        font-weight: bold;
        font-size:50px ;
    }

    #formula label {
        position: absolute;
        left: 19px;
        margin-right: 5px;
    }

    #dados {
        position: relative;
        width: 225px;
    }

    #num, #comp {
        width: 50px;
    }
}

.box-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color:darkblue;
    max-width: 500px;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 5px 5px rgb(15, 15, 31);
    p {
        color:white;
    }
 
}

.notas-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .notas-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .notas-container:hover input ~ .check {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .notas-container input:checked ~ .check {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .notas-container input:checked ~ .check:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .notas-container .check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
